% if not is_xhr: 
  % include("header") 
% end

<main   
  data-spa="yes"
  data-spa_url="/admin"
  data-spa_title="{{title}}"
  data-spa_hide="[data-spa]"
  data-spa_display="block"
>
  

  % # main page
  <div class="flex w-4/5 mx-auto">
    % # left
    <div class="w-1/4 py-6">
      <div class="h-full bg-gray-100 w-10/12 p-4 flex flex-col rounded-3xl">
        <div class="flex items-center">
          <i class="fa-brands fa-twitter fa-fw text-4xl text-blue1"></i>
          <h1 class="pl-4 font-bold text-blue1 text-2xl">Glitter</h1>
        </div>
        <div class="mt-10 text-xl  flex flex-col text-gray-800">
          <a class="p-2 rounded-full hover:bg-gray-200/30" href="">
            <ion-icon class="px-4" name="layers-outline"></ion-icon>
            Dashboard
          </a>
          <a class="p-2 rounded-full hover:bg-gray-200/30" href="">
            <ion-icon class="px-4" name="people-outline"></ion-icon>
            Users
          </a>
          <a class="p-2 rounded-full hover:bg-gray-200/30" href="">
            <ion-icon class="px-4" name="chatbubble-ellipses-outline"></ion-icon>
            Tweets
          </a>
          <a class="p-2 rounded-full hover:bg-gray-200/30" href="">
            <ion-icon class="px-4" name="chatbubbles-outline"></ion-icon>
            Comments
          </a>
          <a class="p-2 rounded-full hover:bg-gray-200/30" href="">
            <ion-icon class="px-4" name="heart-outline"></ion-icon>
            Likes
          </a>
          <a class="p-2 rounded-full hover:bg-gray-200/30" href="">
            <ion-icon class="px-4" name="flag-outline"></ion-icon>
            Reports
          </a>
          <a class="p-2 rounded-full hover:bg-gray-200/30 " href="/logout">
            <ion-icon class="px-4" name="log-out-outline"></ion-icon>
            Logout
          </a>
          
        </div>
      </div>
    </div>
    % # end left % # center
    <div class="w-2/4 min-h-screen border-x border-gray-300">
      <div class="relative px-14 py-2">
        <h1 class="font-bold text-2xl">Admin Page</h1>
      </div>


      <div data-hook="tweets" id="tweets" class="voices mt-4">
        % for tweet in tweets:
        <div id="{{tweet['tweet_id']}}" class="p-4 border-b hover:bg-gray-100 border-slate-200">
          <div class="flex">
            <img
              class="flex-none w-12 h-12 rounded-full"
              src="/images/{{tweet['user_img']}}"
              alt=""
            />
            <div class="w-full relative pl-4">
            <ion-icon name="ellipsis-horizontal" class="absolute right-2 top-2 hover:bg-blue2/20 hover:text-blue1 cursor-pointer transition ease-in-out duration-300 p-2 rounded-full"></ion-icon>
              <p class="font-thin text-xs"><a class="font-bold text-lg" href="/{{tweet['user_name']}}">{{tweet["user_first_name"]}} {{tweet["user_last_name"]}}</a> @{{tweet["user_name"]}}</p>

              <div class="showDelete">
                <!-- <button class="text-sm text-gray-100" onclick="deleteTweet(`{{tweet['tweet_id']}}`)">Delete</button> -->
                <!-- <button data-action="edit" onclick="editTweet(`{{tweet['tweet_id']}}`)">Edit</button> -->
              </div>
              <!-- <button onclick="toggleEditModal()">Edit</button> -->

              <div data-text class="pt-2">{{tweet["tweet_text"]}}</div>
              % if tweet["tweet_image"]:
                <img
                  class="mt-2 w-full object-cover h-80"
                  src="/images/{{tweet['tweet_image']}}"
                />
              % end
              <div class="flex gap-12 w-full mt-4 text-lg">
                % if user["user_name"] == "admin":
                <ion-icon class="ml-auto hover:text-blue1 cursor-pointer" name="trash-outline" onclick="deleteTweet(`{{tweet['tweet_id']}}`)"></ion-icon>
                % end
                <ion-icon class="hover:text-blue1 cursor-pointer" name="chatbox-ellipses-outline"></ion-icon>
                <ion-icon class="hover:text-blue1 cursor-pointer" name="heart-outline"></ion-icon>
                <ion-icon class="hover:text-blue1 cursor-pointer" name="sync-outline"></ion-icon>                  
                <ion-icon class="hover:text-blue1 cursor-pointer" name="share-outline"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      % end
      </div>
    </div>
    % # end center % # right
      <div class="w-1/4 h-screen">
        <div class="h-screen gap-4 py-4 pl-4">
          <h1 class="font-bold text-xl p-4">All users</h1>
          % for user in users:
          
            <div class="relative flex items-center cursor-pointer p-2 pr-4 hover:bg-slate-200 rounded-full">
              <img
                src="/images/{{user['user_img']}}"
                alt=""
                class="w-10 h-10 object-cover flex-none rounded-full"
              />
              <div class="flex-1 pl-2">
                
                <p class="font-bold">
                  {{user["user_first_name"]}} {{user["user_last_name"]}}
                </p>
                
                  <ion-icon name="ellipsis-horizontal" class="absolute right-3 top-6"></ion-icon>
                
                <p class="font-light text-gray-500 text-sm">
                  @{{user["user_name"]}}
                </p>
              </div>
            </div>
          
          % end
        </div>
      </div>
    % # end right
  </div>
  % # end page


% include("footer") 




</main>


% if not is_xhr: 
  % include("footer") 
% end