% if not is_xhr: 
  % include("header") 
% end
<main
  data-spa="yes"
  data-spa_url="/home"
  data-spa_title="Home / Glitter"
  data-spa_hide="[data-spa]"
  data-spa_display="block"
>
  <section id="tweetModal" class="fixed w-screen h-screen z-10 hidden">
    <div
      class="absolute h-full w-full bg-black bg-opacity-50"
      onclick="toggleTweetModal()"
    ></div>
    <div
      class="relative z-10 p-4 bg-white  rounded-lg w-1/3 h-64 mx-auto mt-20"
    >
      <ion-icon name="close" size="large"></ion-icon>
      <form
        class="flex flex-col relative p-4rounded mt-4"
        onsubmit="sendTweet(); return false"
      >
      <div class="flex">
      <img
      class="flex-none w-12 h-12 rounded-full"
      src="/images/{{user['user_img']}}"
      alt=""
      />
        <input
          name="tweet"
          class="w-full h-12 text-gray-800 rounded p-4 mb-12 outline-none placeholder:text-gray-800"
          type="text"
          placeholder="What is in your mind ?"
        />
      </div>
      <div class="flex mt-8">
        <input name="tweet_image" type="file"/>
        <br>
        <button
          class="bottom-2 right-2 px-6 py-2 bg-blue2 text-white rounded-full"
          type="submit"
          onclick="toggleTweetModal()"
        >
          Tweet
        </button>
      </div>
      </form>
    
  </div>
  </section>
  <section id="update_tweet_modal" class="fixed w-screen h-screen z-10 hidden" data-modal="edit_tweet">
    <div
      class="absolute h-full w-full bg-black bg-opacity-50"
      onclick="openEditModal('#tweet_update_modal')"
    ></div>
    <div class="relative z-10 p-4 bg-white  rounded-lg w-1/3 h-64 mx-auto mt-20">
      <ion-icon name="close" size="large"></ion-icon>
      <form
        action="/tweets" action="put"
        id="edit-tweet"
        class="flex flex-col relative p-4 rounded mt-4"
        onsubmit="updateTweet(); return false"
        data-form="edit_tweet">
        <!-- <div class="flex"> -->
          <!-- <img
          class="flex-none w-12 h-12 rounded-full"
          src="/images/{{user['user_img']}}"
          alt=""
          /> -->
          <label for="tweet_text" class="w-full font-medium text-gray-500 py-2">Edit Tweet</label>
          <input
            name="tweet_text"
            id="tweet_text_update"
            class="w-full h-12 text-gray-800 rounded p-4 mb-12 outline-none placeholder:text-gray-800"
            type="text"
            placeholder=""
            data-validate="str" data-min="1" data-max="140"
          />
        <!-- </div> -->
        <!-- <div class="flex mt-8">
          <input name="tweet_image" type="file"/>
          <br> -->
          <button
            class="absolute bottom-6 right-6 px-8 py-2 bg-blue2 text-white rounded-full"
            type="submit" data-default="Tweet" data-await="Tweeting..."
            onclick="openEditModal()"
          >
            Update
          </button>
        <!-- </div> -->
      </form>
    </div>
  </section>
  <section id="logoutModal" class="fixed w-screen h-screen z-10 hidden">
    <div
      class="absolute h-full w-full "
      onclick="toggleModal()"
    ></div>
    <div
      class="relative z-10 bg-white rounded-2xl w-80 h-52 ml-32 mt-96  border border-gray-300"
    >
    <div class="relative flex items-center p-4 pr-4">
      <img
        src="/images/default.jpeg"
        alt=""
        class="w-10 rounded-full"
      />
      <div class="flex-1 pl-2">
        
        <p class="font-bold">
          {{user["user_first_name"]}} {{user["user_last_name"]}}
        </p>
        
        <p class="font-light text-gray-500 text-sm">
          @{{user["user_name"]}}
        </p>

      </div>

    </div>
    <div class="grid p-4 pt-6 gap-4 border-t border-slate-200">
      <a href="">Add an existing account</a>
      <a href="/logout">Logout @{{user["user_name"]}}</a>
    </div>
  </div>
  </section>


  % # main page
  <div class="flex w-4/5 mx-auto">
    % # left
    <div class="w-1/4">
      <div class="fixed h-screen w-1/5 px-8 flex flex-col py-6">
        <div class="">
          <div class="pl-5">
            <i class="fa-brands fa-twitter fa-fw text-4xl text-blue1"></i>
          </div>
          <div class="">
            % for tab in tabs:
            <div class="mt-6">
              <a
                class="text-xl hover:bg-lighter rounded-full py-3 px-6"
                href="/{{tab['href']}}"
              >
                <i class="{{tab['icon']}}"></i>
                <span class=" ml-2">{{tab['title']}}</span>
              </a>
            </div>
            % end
          </div>
          <button
            onclick="toggleTweetModal()"
            class="mt-8 w-full py-2 text-lg text-white bg-blue1 rounded-full"
          >
            Tweet
          </button>
        </div>
        <div class="mt-auto cursor-pointer" onclick="toggleModal()">
          <div class="relative flex items-center p-2 pr-4 hover:bg-slate-200 rounded-full">
            <img
              src="/images/{{user['user_img']}}"
              alt=""
              class="w-10 rounded-full"
            />
            <div class="flex-1 pl-2">
              
              <p class="font-bold lg:hidden">
                {{user["user_first_name"]}} {{user["user_last_name"]}}
              </p>
              
                <ion-icon name="ellipsis-horizontal" class="absolute right-3 top-6"></ion-icon>
              
              <p class="font-light text-gray-500 text-sm">
                @{{user["user_name"]}}
              </p>
              <!-- <a href="/logout">Logout</a> -->

            </div>
          </div>
        </div>
      </div>
    </div>
    % # end left % # center
    <div class="w-2/4 min-h-screen border-x border-gray-300">
      <div class="p-4">
        <h1 class="font-bold text-2xl">Home</h1>
      </div>
      <div class="px-4 border-b border-gray-300">
        <form
        class="flex flex-col relative p-4rounded mt-4"
          onsubmit="sendTweet(); return false">
          <div class="flex">
            <img
            class="flex-none w-12 h-12 rounded-full"
            src="/images/{{user['user_img']}}"
            alt=""
            />
              <input
                name="tweet"
                class="w-full h-12 text-gray-800 rounded p-4 outline-none placeholder:text-gray-800"
                type="text"
                placeholder="What is in your mind ?"
              />
            </div>
            <div class="flex mt-8">
              
              <div class="flex relative gap-8 pb-2 px-16">
                <label for="tweet_image">
                  <ion-icon class="text-xl hover:text-blue1 cursor-pointer" name="image-outline"></ion-icon>
                  <input id="tweet_image" name="tweet_image" class="hidden" type="file"/>
                </label>
                <ion-icon class="text-xl hover:text-blue1 cursor-pointer" name="happy-outline"></ion-icon>
                <ion-icon class="text-xl hover:text-blue1 cursor-pointer" name="calendar-number-outline"></ion-icon>
                <ion-icon class="text-xl hover:text-blue1 cursor-pointer" name="bar-chart-outline"></ion-icon>
                <ion-icon class="text-xl hover:text-blue1 cursor-pointer" name="location-outline"></ion-icon>
              </div>
              <button
                class="bottom-2 absolute right-2 px-6 py-2 bg-blue2 text-white rounded-full"
                type="submit"
              >
                Tweet
              </button>
            </div>
        </form>
      </div>

      <div data-hook="tweets" id="tweets" class="voices mt-4">
        % if not tweets:
        <div class="grid p-4 justify-items-center">
        <h1 class="font-bold">There are no tweets yet!</h1>
        <h1>Be the first one..</h1>
        <img class="h-80 pt-4" src="/images/dare.png" alt=""></div>
        % end
        % for tweet in tweets:
          <div id="{{tweet['tweet_id']}}" class="p-4 border-b border-slate-200">
            <div class="flex">
              <img
                class="flex-none w-12 h-12 rounded-full"
                src="/images/{{tweet['user_img']}}"
                alt=""
              />
              <div class="w-full relative pl-4">
              <ion-icon name="ellipsis-horizontal" class="absolute right-2 top-2 hover:bg-blue2/20 hover:text-blue1 cursor-pointer transition ease-in-out duration-300 p-2 rounded-full"></ion-icon>
                <p class="font-thin text-xs"><a class="font-bold text-lg" href="/{{tweet['user_name']}}">{{tweet["user_first_name"]}} {{tweet["user_last_name"]}}</a> @{{tweet["user_name"]}}</p>

                <div class="showDelete">
                  <!-- <button class="text-sm text-gray-100" onclick="deleteTweet(`{{tweet['tweet_id']}}`)">Delete</button> -->
                  <button class="text-sm text-gray-200" data-id="{{tweet['tweet_id']}}" onclick="openEditModal('#tweet_update_modal'); updateModalContent();">Edit</button>
                  <!-- <button data-action="edit" onclick="editTweet(`{{tweet['tweet_id']}}`)">Edit</button> -->
                </div>
                <!-- <button onclick="toggleEditModal()">Edit</button> -->

                <div data-text class="pt-2">{{tweet["tweet_text"]}}</div>
                % if tweet["tweet_image"]:
                  <img
                    class="mt-2 w-full object-cover h-80"
                    src="/images/{{tweet['tweet_image']}}"
                  />
                % end
                <div class="flex gap-12 w-full mt-4 text-lg">
                  <ion-icon class="ml-auto hover:text-blue1 cursor-pointer" name="trash-outline" onclick="deleteTweet(`{{tweet['tweet_id']}}`)"></ion-icon>
                  <ion-icon class="hover:text-blue1 cursor-pointer" name="chatbox-ellipses-outline"></ion-icon>
                  <ion-icon class="hover:text-blue1 cursor-pointer" name="heart-outline"></ion-icon>
                  <ion-icon class="hover:text-blue1 cursor-pointer" name="sync-outline"></ion-icon>                  
                  <ion-icon class="hover:text-blue1 cursor-pointer" name="share-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        % end
      </div>
    </div>
    % # end center % # right
    <div class="w-1/4 h-screen">
      <div class="w-1/5 fixed flex flex-col h-screen gap-4 py-4 pl-4">
        <div class="">
          <form name="search" class="relative" onsubmit="returnFalse()">
            <i class="fas fa-search absolute top-4 left-4"></i>
            <input
              class="w-full flex-grow h-12 rounded-full placeholder:text-gray-700 bg-gray-100 pl-12 outline-none"
              type="text"
              placeholder="Search Glitter"
            />
          </form>
        </div>
        <div class="h-1/2 flex-grow bg-gray-100 rounded-2xl overflow-hidden">
          <h1 class="font-bold text-xl p-4">Trends for you</h1>
          % for trend in trends:
          <div
            class="p-1 hover:bg-gray-300 cursor-pointer flex justify-between"
          >
            <div class="px-4">
              <p class="font-thin">{{trend["category"]}}</p>
              <p class="font-bold">{{trend["title"]}}</p>
              <p class="font-thin">{{trend["tweets_counter"]}}</p>
            </div>
            <div>
              <i
                class="fa-solid fa-ellipsis hover:bg-blue2/20 hover:text-blue1 transition ease-in-out duration-300 p-2 rounded-full"
              ></i>
            </div>
          </div>
          % end
        </div>
        <div class="h-1/2 bg-gray-100 rounded-2xl overflow-hidden">
          <h1 class="font-bold text-xl p-4">Who to follow</h1>
          % for follow in whoToFollow:
          <div class="flex items-center p-2">
            <img
              src="/images/{{follow['img']}}.jpeg"
              alt=""
              class="w-12 rounded-full"
            />
            <div class="flex-1 pl-2">
              <p class="font-bold">{{follow["name"]}}</p>
              <p class="font-thin">{{follow["account"]}}</p>
            </div>
            <button class="px-4 py-1 bg-white rounded-full">Follow</button>
          </div>
          % end
        </div>
      </div>
    </div>
    % # end right
  </div>
  % # end page
</main>
% if not is_xhr: 
  % include("footer") 
% end
